.timeline-card-container {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 24px;
}
/* .timeline-card-container::before {
  content: '';
  background: radial-gradient(
    986.43% 408.5% at -98.41% -58.25%,
    #00c3fd 0%,
    #0194fe 24.23%,
    #012b7f 78.95%
  );
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.timeline-card-container.timeline-card-container__right::before {
  right: initial;
  left: 0;
  border-radius: initial;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
} */
.timeline-content-wrapper {
  padding: 10px;
  background-color: #f1fbff;
  border-radius: 24px;
  position: relative;
}
.dark .timeline-content-wrapper  {
  background-color: #160E33 !important;
}

.timeline-content {
  padding: 24px;
  border: 1px solid #00c3fd;
  background-color: inherit;
  border-radius: 18px;
}

.dark .timeline-content {
  background-color: #221A3D !important;
}
.icon {
  color: #3b82f6;
  margin-bottom: 20px;
}

