.neo-timeline::before {
  background: radial-gradient(
    986.43% 408.5% at -98.41% -58.25%,
    #00c3fd 0%,
    #0194fe 24.23%,
    #012b7f 78.95%
  ) !important;
  border-radius: 16px;
  top: 5%;
  height: 90%;
}
.dark .neo-timeline::before {
  background: radial-gradient(
    530.24% 219.84% at 57.14% 50.65%,
    #00c3fd 0%,
    #0194fe 38.2%,
    #0194fe 100%
  ) !important;
}
/* @media screen and (min-width: 1024px) {
  .neo-timeline .vertical-timeline-element-content {
    margin-left: 60px !important;
  }
} */

@media screen and (max-width: 1023px) and (min-width: 320px) {
  .neo-timeline.vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 100px !important;
  }
}
